---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content="Portafolio Web de José Carlos Balbín, Desarrollador Frontend" />
		
		<!-- open graph -->
		<meta property="og:title" content="Portafolio Web de José Carlos Balbín, Desarrollador Frontend" >
		<meta property="og:description" content="Portafolio con proyectos que utilizan tecnologias web para crear productos y experiencias digitales accesibles tomando en cuenta la experiencia de usuario" >
		<meta property="og:image" content="/portafoliov1img.png" >
		<meta property="og:image:alt" content="Una captura de la interfaz del portafolio web" >

		<!-- SEO -->
		<link rel="canonical" href="https://jcbalbdev.vercel.app/">

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-slate-900 leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900 font-quicksand">
		<slot />
	</body>
</html>
<style >

</style>
